<div class="field">
<%= form_for (@employeedetail.experiences.build) do |f| %>
  <div class="card">
      <br/>
  <div class="card-divider">
      <h4>Experience Details</h4>
    </div>
  <div class="card-section">
      <div class= "grid-container"> 
              <div class="grid-x grid-padding-x">
                  <div class="medium-6 cell">
                  <label>Title
                  <%= f.text_field :title %>
                  </label>
                  </div>
                  <div class="medium-6 cell"> 
                  <label>Type
                  <%= f.text_field :jobtype %>
                  </label>
                  </div>
      </div>
      </div>
      <div class= "grid-container"> 
              <div class="grid-x grid-padding-x">
                  <div class="medium-6 cell">
                  <label>Company
                  <%= f.text_field :company %>
                  </label>
                  </div>
                  <div class="medium-6 cell"> 
                  <label>Job Location
                  <%= f.text_field :joblocation %>
                  </label>
                  </div>
      </div>
      </div>
      <div class= "grid-container"> 
              <div class="grid-x grid-padding-x">
                  <div class="medium-6 cell">
                  <label>Start Date
                  <%= f.text_field :startdate %>
                  </label>
                  </div>
                  <div class="medium-6 cell"> 
                  <label>End Date
                  <%= f.text_field :enddate %>
                  </label>
                  </div>
      </div>
      </div>
      <div class='actions '>
      <%= f.submit class:"button"  %>
    </div>
  </div>
  <%end%>