<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Dob</th>
      <th>Gender</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Country</th>
      <th>Location</th>
      <th>About</th>
      <th>Currentposition</th>
      <th>Skills</th>
      <th>Industry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.firstname %></td>
        <td><%= employee.lastname %></td>
        <td><%= employee.dob %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.email %></td>
        <td><%= employee.country %></td>
        <td><%= employee.location %></td>
        <td><%= employee.about %></td>
        <td><%= employee.currentposition %></td>
        <td><%= employee.skills %></td>
        <td><%= employee.industry %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
