
        </p>
        <p>
        <strong>Location:</strong>
        <%= employeedetail.location %>
          </p>
          <p>
          <strong>Gender:</strong>
          <%= employeedetail.gender %>
      </p>
      <p>
          <strong>Date of Birth:</strong>
          <%= employeedetail.dob %>
      </p>
      <p>
          <strong>Email:</strong>
          <%= employeedetail.emal %>
      </p>
      <p>
          <strong>Contact:</strong>
          <%= employeedetail.contact %>
      </p>
     
      <p>
          <strong>Skills:</strong>
          <%= employeedetail.skills %>
      </p>
      <p>
          <strong>Country:</strong>
          <%= employeedetail.country %>
      </p>

      
        