
    <p>
        <strong>Gender:</strong>
        <%= :gender %>
    </p>
    <p>
        <strong>Date of Birth:</strong>
        <%= :dob %>
    </p>
    <p>
        <strong>Email:</strong>
        <%= :emal %>
    </p>
    <p>
        <strong>Contact:</strong>
        <%= :contact %>
    </p>
    <p>
        <strong>About:</strong>
        <%= :about %>
    </p>
    <p>
        <strong>Location:</strong>
        <%= :location %>
    </p>
    <p>
        <strong>Skills:</strong>
        <%= :skills %>
    </p>
    <p>
        <strong>Country:</strong>
        <%= :country %>
    </p>
 
