<%= form_with(model: @employeedetail, id: "formemployee", local: false)  do |form| %>
   
  <div class="card">
    <br/>
  <div class="card-divider">
    <h4>Basic Info</h4>
  </div>
  <div class="card-section">
    <div class= "grid-container"> 
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
            <label>First Name
            <%= form.text_field :firstname %>
            </label>
            </div>
            <div class="medium-6 cell"> 
              <label>Last Name
              <%= form.text_field :lastname %>
              </label>
            </div>
          </div>
     </div>
     <div class= "grid-container"> 
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
            <label>Date of Birth
            <%= form.text_field :dob %>
            </label>
            </div>
            <div class="medium-6 cell"> 
              <label>Gender
              <%= form.text_field :gender %>
              </label>
            </div>
          </div>
     </div>
     <div class= "grid-container"> 
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
            <label>Contact No
            <%= form.text_field :contact %>
            </label>
            </div>
            <div class="medium-6 cell"> 
              <label>Email
              <%= form.text_field :emal  %>
              </label>
            </div>
          </div>
     </div>
     <div class= "grid-container"> 
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
            <label>Country
            <%= form.text_field :country %>
            </label>
            </div>
            <div class="medium-6 cell"> 
              <label>Location
              <%= form.text_field :location %>
              </label>
            </div>
          </div>
     </div>

     <div class= "grid-container"> 
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
            <label>Industry
            <%= form.text_field :industry %>
            </label>
            </div>
            <div class="medium-6 cell"> 
              <label>Current Position
              <%= form.text_field :currentposition %>
              </label>
            </div>
          </div>
     </div>
    <div class="grid-container">
        <div class="col"><%= form.label :about ,value="About"%></div> 
        <div class="col-left"><%= form.text_area :about %></div>
    </div>
    <div class="grid-container">
            <div class="col"><%= form.label :skills,value="Skills"%></div> 
            <div class="col-left"><%= form.text_area :skills %></div>
    </div>
    <div class="grid-container"> 
            <div class="col-left"><%= form.number_field :user_id ,id: :employeedetail_user_id,value:current_user.id,type: :hidden%></div>
    </div>
    <div class="grid-container">
      <div class=col><%= form.label :image ,value="Profile picture"%>
      <div class="col"><%= form.file_field :image%></div>
      </div>
    </div>
    
</div>
   

<div class="field">

  <div class="card">
      <br/>
    <div class="card-divider">
        <h4>Experience Details</h4>
      </div>
    <div class="card-section">
        <div class= "grid-container"> 
          <%=form.fields_for :experiences,remote: true do |f| %>
            <%= render "experience_fields", f: f%>
          <% end %>
          <%= link_to_add_fields 'Add', form, :experiences %><br/>
        </div>
    </div>
  </div>
</div>

  <div class='actions '>
            <%= form.submit class:"button"  %>
    </div>
    </div>
    
  <% end %>