<%= form_with model: @employeedetail do |form| %>
    <% if employeedetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employeedetail.errors.count, "error") %> prohibited this employeedetail from being saved:</h2>

      <ul>
        <% employeedetail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="card">
    <br/>
  <div class="card-divider">
    <h4>Basic Info</h4>
  </div>
  <div class="card-section">
    <div class= "grid-container"> 
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
            <label>First Name
            <%= form.text_field :firstname %>
            </label>
            </div>
            <div class="medium-6 cell"> 
              <label>Last Name
              <%= form.text_field :lastname %>
              </label>
            </div>
          </div>
     </div>
     <div class= "grid-container"> 
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
            <label>Date of Birth
            <%= form.text_field :dob %>
            </label>
            </div>
            <div class="medium-6 cell"> 
              <label>Gender
              <%= form.text_field :gender %>
              </label>
            </div>
          </div>
     </div>
     <div class= "grid-container"> 
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
            <label>Contact No
            <%= form.text_field :contact %>
            </label>
            </div>
            <div class="medium-6 cell"> 
              <label>Email
              <%= form.text_field :emal %>
              </label>
            </div>
          </div>
     </div>
     <div class= "grid-container"> 
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
            <label>Country
            <%= form.text_field :country %>
            </label>
            </div>
            <div class="medium-6 cell"> 
              <label>Location
              <%= form.text_field :location %>
              </label>
            </div>
          </div>
     </div>

     <div class= "grid-container"> 
          <div class="grid-x grid-padding-x">
            <div class="medium-6 cell">
            <label>Industry
            <%= form.text_field :industry %>
            </label>
            </div>
            <div class="medium-6 cell"> 
              <label>Current Position
              <%= form.text_field :currentposition %>
              </label>
            </div>
          </div>
     </div>
    <div class="grid-container">
        <div class="col"><%= form.label :about ,value="About"%></div> 
        <div class="col-left"><%= form.text_area :about %></div>
    </div>
    <div class="grid-container">
            <div class="col"><%= form.label :skills,value="Skills"%></div> 
            <div class="col-left"><%= form.text_area :skills %></div>
    </div>
    <div class='grid-container'>
            <%= form.submit class:"button" %>
    </div>
</div>
    
<% end %>