<%= form_with model: @employeedetail do |form| %>
    <% if employeedetail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employeedetail.errors.count, "error") %> prohibited this employeedetail from being saved:</h2>

      <ul>
        <% employeedetail.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <div class= "form-group">
        <div class="form-group row">
            <div class="col"><%= form.label :firstname ,value="First Name"%></div> 
            <div class="col"><%= form.text_field :firstname,class: "form-control" %></div>
            <div class="col"> <%= form.label :lastname,value="Last Name" %></div>
            <div class="col"><%= form.text_field :lastname,class: "form-control" %></div>
        </div>
        <div class="form-group row">
            <div class="col"><%= form.label :dob ,value="Date of Birth"%></div> 
            <div class="col"><%= form.text_field :dob,class: "form-control" %></div>
            <div class="col"> <%= form.label :gender,value="Gender" %></div>
            <div class="col"><%= form.text_field :gender,class: "form-control" %></div>
        </div>
        <div class="form-group row">
            <div class="col"><%= form.label :contact ,value="Contact No"%></div> 
            <div class="col"><%= form.text_field :contact,class: "form-control" %></div>
            <div class="col"> <%= form.label :emal,value="Email" %></div>
            <div class="col"><%= form.text_field :emal,class: "form-control" %></div>
        </div>
        <div class="form-group row">
            <div class="col"><%= form.label :country ,value="Country"%></div> 
            <div class="col"><%= form.text_field :country,class: "form-control" %></div>
            <div class="col"> <%= form.label :location,value="Location" %></div>
            <div class="col"><%= form.text_field :location,class: "form-control" %></div>
        </div>
        
        <div class="form-group row">
            <div class="col"> <%= form.label :industry,value="Industry" %></div>
            <div class="col"><%= form.text_field :industry,class: "form-control" %></div>
            <div class="col"> <%= form.label :currentposition,value="Current Position" %></div>
            <div class="col"><%= form.text_field :currentposition,class: "form-control" %></div>
        </div>
        
        
    </div>
    <div class="row">
        <div class="col"><%= form.label :about ,value="About"%></div> 
        <div class="col-left"><%= form.text_area :about,class: "form-control" %></div>
    </div>
    <div class="row">
            <div class="col"><%= form.label :skills,value="Skills"%></div> 
            <div class="col-left"><%= form.text_area :skills,class: "form-control" %></div>
    </div>
    <div class='align-center'>
            <%= form.submit class:"btn btn-primary" %>
    </div>
    
<% end %>