<div class="card" , id ="employees">
    </br>
  <div class="card-divider">
    <h4>Employee details</h4>
  </div>
  <div class="card-section">
  <form class="form-inline my-2 my-lg-0 show-class" method="GET" action="/search">
      <input class="form-control mr-sm-2" type="search" placeholder="Search by name or skills" aria-label="Search" name="query" >
      <%= link_to "Search" ,type:"submit",class: "button secondary"%>
    </form>

<ul>
    <% @employeedetail.each do |employeedetail|%>
    <div class="card">
        </br>
      <div class="card-divider">
        <p><%if (employeedetail.image.attached?)%>
            <%= image_tag employeedetail.image%>
        <%end%></p>
        <div><h4><%= employeedetail.firstname+" "+employeedetail.lastname%></h4></div>
      </div>
      <div class="card-section">
      <p>
      <strong>Current Position:</strong>
      <%= employeedetail.currentposition %>
        </p>
        <p>
        <strong>Location:</strong>
        <%= employeedetail.location %>
          </p>
          <p>
          <strong>Gender:</strong>
          <%= employeedetail.gender %>
      </p>
      <p>
          <strong>Date of Birth:</strong>
          <%= employeedetail.dob %>
      </p>
      <p>
          <strong>Email:</strong>
          <%= employeedetail.emal %>
      </p>
      <p>
          <strong>Contact:</strong>
          <%= employeedetail.contact %>
      </p>
      <p>
          <strong>About:</strong>
          <%= employeedetail.about %>
      </p>
      <p>
          <strong>Location:</strong>
          <%= employeedetail.location %>
      </p>
      <p>
          <strong>Skills:</strong>
          <%= employeedetail.skills %>
      </p>
      <p>
          <strong>Country:</strong>
          <%= employeedetail.country %>
      </p>

      <%if current_user.id==employeedetail.user_id%>
         <p><%= link_to "Delete",employeedetail_path(employeedetail), method: :delete,type: "submit", data: { confirm: 'Are you sure?' } %></p>
        <p><%= link_to "Edit","#", data: { target:"#edit_about_modal", toggle:"modal" } , class: "edit_employeedetail",local: false%></p>
        <%end%>
        <div id="edit_container"></div>
    </div>  
<%end%>


</ul>
<div id = "new-employee">
<%=link_to 'Add Details',new_employeedetail_path%>
</div>
</div>
</div>