<div class="card">
  <div class="card-header">
    <h1>Employee  Profile</h1>
  </div>
  <div class="card-body">
    
    <p>
    <strong>Name:</strong>
    <%= @employeedetail.firstname+" "+@employeedetail.lastname %>
</p>
<p>
    <strong>Gender:</strong>
    <%= @employeedetail.gender %>
</p>
<p>
    <strong>Date of Birth:</strong>
    <%= @employeedetail.dob %>
</p>
<p>
    <strong>Email:</strong>
    <%= @employeedetail.emal %>
</p>
<p>
    <strong>Contact:</strong>
    <%= @employeedetail.contact %>
</p>
<p>
    <strong>About:</strong>
    <%= @employeedetail.about %>
</p>
<p>
    <strong>Location:</strong>
    <%= @employeedetail.location %>
</p>
<p>
    <strong>Skills:</strong>
    <%= @employeedetail.skills %>
</p>
<p>
    <strong>Country:</strong>
    <%= @employeedetail.country %>
</p>
<p>
    <strong>Current Position:</strong>
    <%= @employeedetail.currentposition %>
</p>

  </div>
</div>

