<div class="card">
    <br/>
  <div class="card-divider">
    <h4>Employee  Profile</h4>
  </div>
  <div class="card-section">
  <div id= "showform" , local: false>
  <%if (@employeedetail.image.attached?)%>
  <%= image_tag @employeedetail.image%>
    <%end%>
    <p>

    <strong>Name:</strong>
    <%= @employeedetail.firstname+" "+@employeedetail.lastname %>
</p>
<p>
    <strong>Gender:</strong>
    <%= @employeedetail.gender %>
</p>
<p>
    <strong>Date of Birth:</strong>
    <%= @employeedetail.dob %>
</p>
<p>
    <strong>Email:</strong>
    <%= @employeedetail.emal %>
</p>
<p>
    <strong>Contact:</strong>
    <%= @employeedetail.contact %>
</p>
<p>
    <strong>About:</strong>
    <%= @employeedetail.about %>
</p>
<p>
    <strong>Location:</strong>
    <%= @employeedetail.location %>
</p>
<p>
    <strong>Skills:</strong>
    <%= @employeedetail.skills %>
</p>
<p>
    <strong>Country:</strong>
    <%= @employeedetail.country %>
</p>
<p>
    <strong>Current Position:</strong>
    <%= @employeedetail.currentposition %>
</p>

  </div>
</div>
<% if current_user.id==@employeedetail.user_id%>
    <%= button_to "Delete", employeedetail_path(@employeedetail), class:"button", data: { confirm: 'Are you sure?' } , :method => :delete %>
<%end%>
<div class="card">
        <br/>
    <div class="card-divider">
        <h4>Experience</h4>
      </div>
    

    <div class= "card-section">
    <% @employeedetail.experiences.each do |experience|%> 
        <p><%= experience.title%> </p>
        <p><%= experience.jobtype%> </p>
        <p><%= experience.company%> </p>
        <p><%= experience.joblocation%> </p>
        <p><%= experience.startdate%> </p>
        <p><%= experience.enddate%> </p>
    <%end%>

    </div>
    </div>


</div>



